* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;

}



//EStilo del icono de carrito

.submenu #carrito {
    display: none;
}

.submenu #carrito {
    display: block;
    // position: absolute;
    // right: 0;

    top: 100%;
    z-index: 1;
    background-color: white;
    // padding: 20px;
    // min-height: 400px;

}

.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}

#navCarrito {
    ul {
        list-style: none;
    }
}

#navBarTransp {
    background-color: rgba($color: #F5F5DC, $alpha: 0.4) !important;
}

#link1,
#link2,
#link3,
#link4,
#link5 {
    color: teal;
    font-size: 1.1rem;
    font-weight: bold;


    &:hover {
        color: indianred;
        text-decoration: underline;
        text-decoration-color: teal;

    }

}


.borrar-elemento {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#btnCheckout {
    text-decoration: none;
    color: blanchedalmond;
}

//saludo
.seccionPortada {
    p {
        font-size: 2.5rem;
    }

}

#carritoBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;

}


// Seccion Home


header {
    background-image: url("../img/leafy.jpg");
    background-attachment: fixed;
    padding-top: 7rem;

    background-size: cover;

    @media(min-width: 768px) {
        padding-top: 6rem;
        height: 90vh;

    }


}

#mainTittle {
    @media(min-width: 768px) {
        padding: 10rem;
    }

    padding: 5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;

}

#mainSubtittle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;


}

//Seccion Nosotras
#aboutUs {

    background-image: url("../img/ilustracion-abstracta.jpg");
    background-attachment: fixed;

}

.about {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .nosotrasText {
        padding: 3rem;
        text-align: center;
    }

    .nosotrasImg {
        margin: auto;

        img {
            @media(max-width: 768px) {
                width: 80%;
            }

        }
    }
}


@media(max-width: 768px) {
    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

//Seccion Servicios
#nuestros {

    padding: 4rem;
    text-align: center;
}

#cardService {
    display: flex;

    img {
        padding-top: 2rem;
        width: 50%;
        margin: auto;
    }
}

#p1,
#p2,
#p3,
#tittleC {

    text-align: center;
}

#addCarr {
    display: block;
    margin: auto;
    width: 50%;
    background-color: indianred;
}

//Estilo de las imagenes de pestañas
#eyesGuide {
    h2 {
        font-size: 1.5rem;

    }

    h3 {
        font-size: 1.25rem;
    }
}

#tipoOjos {
    padding: 2rem;
    align-content: center;

    #eyes {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

    }
}

#result {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    img {

        width: 80%;
        height: fit-content;
    }

    h3 {
        text-align: center;
    }
}

#eyes {
    padding-top: 2rem;

    img {
        padding: 5px;
        width: 40%;
        object-fit: contain;
    }
}


//testimonios

.testimonials {
    background-image: url("../img/leafy.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 4rem;
    text-align: center;

    h2 {
        color: teal;
    }

}

footer {
    padding: 4rem;
    background-image: url("../img/ilustracion-abstracta.jpg");
    background-attachment: fixed;
    background-size: cover;

    .seccionFoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;



        img {
            width: 10%;
        }

        a {
            display: block;
            text-decoration: none;
            color: indianred;
            font-weight: bold;
        }

        ;

        .redes {
            display: flex;
            flex-direction: row;

            img {
                width: 40%;
                padding: 0.25rem;
            }
        }
    }
}

//------- Seccion checkout-----------

.payement {
    width: 50vw;
    text-align: center;
}

.checkoutZone {
    background-image: url("../img/leafy.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 4rem;
    text-align: center;
    font-weight: bold;

}